<div class="container">
    <div class="row">
        <div class="col-6 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Destinos de agua dulce</h5>
                    <p class="card-text">Conoce más sobre nuestros ríos</p>
                    <button (click)="aguaDulce()" href="#" class="btn btn-primary stretched-link">Ir allá</button>
                </div>
            </div>            
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Destinos de agua salada</h5>
                    <p class="card-text">Conoce más sobre nuestro mar pacífico</p>
                    <button (click)="aguaSalada()" href="#" class="btn btn-primary stretched-link">Ir allá</button>
                </div>
            </div>
        </div>
    </div>
</div>






